.container {
  background-color: white;
  color: white;
}

/* start nav bar */
.xs_height {
  height: 50px;
  background-color: green;
}

.sm_height {
  height: 75px;
  background-color: red;
}

.space_middle {
  margin: 20px 45px;
}

.space {
  margin: 20px 0px;
}
/* end nav bar */

.hero {
  height: 400px;
  background-color: black;
}

.md_height {
  height: 200px;
  background-color: blue;
}

.md_height_right {
  height: 200px;
  background-color: black;
  margin-left: 20px;
}
